{% extends 'layout.html' %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>分类列表</span></li>
</ol>

<h3>分类列表</h3>
{% set flapPath = '/admin/category' %}
{% include 'flap_page.html' with flapPath%}
<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>分类名称</th>
        <th>操作</th>
    </tr>
    {%for category in categories%}
    <tr>
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>
            <a href="/admin/category/edit?id={{category.id}}">修改</a>
            <a href="/admin/category/delete?id={{category.id}}">删除</a>
        </td>
    </tr>
    {%endfor%}

</table>
{% include 'flap_page.html' with flapPath%}
{% endblock %}